# IRC (TheLounge + ngIRCd + Anope) app.env.sample
# Copy to app.env and customize

# Timezone
TZ=America/New_York

# Hostname
BASE_HOST_NAME=myhostname

# Shared uplink/services password
APP_SECRET_KEY=changeme_uplink_password
